/* imgen.css */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

h2 {
    text-align: center;
}

.input_all{
    margin-right: 20px;
}

.input_number{
    width: 100px;
}

.div_elements{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#BtngenImg {
    border-radius: 10px;
    color: black;
    background-color: aqua;

}

#form_images {
    margin-top: 10px;
    position: absolute;
    /* left: 42%; */
    /* transform: translate(-42%); */
}

#range_blur {
    vertical-align: middle;
}

#img {
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#Limage_width, #Limage_height, #Limage_gray, #Limage_blur {
    font-weight: bold;
}

#idImg {
    margin-top: 40px;
}

#titulo_gen {
    margin-top: 20px;
}
